global
  daemon
defaults
  mode http
  timeout connect 3s
  timeout client 10s
  timeout server 10s
frontend web
  bind *:80
  default_backend apps
backend apps
  option httpchk GET /
  server primary primary:80 check
  server secondary secondary:80 check backup
